<div class="loading-location-edit">
  <div class="header">
    <h1><%= @loading_location.name %> bearbeiten</h1>
    <%= link_to "Zurück", loading_location_path(@loading_location), class: "btn btn-secondary" %>
  </div>

  <%= render "form", loading_location: @loading_location %>
</div>
