<div class="content-section-full">
  <div class="section-header">
    <h3 class="section-title">
      📋
      Ladeadressen
    </h3>
    <%= link_to "Neue Ladeadresse", new_loading_location_path, class: "btn btn-primary" %>
  </div>

  <div class="section-body section-body-table">
    <div class="data-table-container full">
      <table class="data-table">
        <thead>
        <tr>
          <th>Werkname</th>
          <th>Adresse</th>
          <th>Partner</th>
          <th>Telefon</th>
          <th>Aktiv</th>
          <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        <%= render @loading_locations %>
        </tbody>
      </table>
    </div>
  </div>
</div>
