<div class="loading-location-new">
  <div class="header">
    <h1>Neue Ladeadresse</h1>
    <%= link_to "Zurück zur Übersicht", loading_locations_path, class: "btn btn-secondary" %>
  </div>

  <%= render "form", loading_location: @loading_location %>
</div>
