<div id="<%f= dom_id restriction %>">
  <tr>
    <td><strong><%#= restriction.liefadrnr %></strong></td>
    <td><%f= restriction.inspect %></td>
    <td>
      <%#= link_to "Entfernen",
                  address_restriction_path(restriction),
                  data: { turbo_method: :delete,
                          turbo_confirm: "Sperre für #{driver.full_name} wirklich entfernen?" },
                  class: "btn-link text-danger" %>
    </td>
  </tr>
</div>