<div class="section-body section-body-table">
    <div class="data-table-container full">
      <table class="data-table">
        <thead>
        <tr>
          <th>Fahrer</th>
          <th>Gesperrte Adressen</th>
          <th>Anzahl</th>
          <th>Aktionen</th>
        </tr>
        </thead>
        <tbody>
        <% @restrictions_by_driver.each do |driver, restrictions| %>
          <tr>
            <td>
              <%= link_to driver.full_name, driver_path(driver), class: "link" %>
            </td>
            <td>
              <div class="address-chips">
                <% restrictions.each do |restriction| %>
                    <span class="chip">
                      <%= restriction.liefadrnr %>
                      <%= link_to "×",
                                  address_restriction_path(restriction),
                                  data: { turbo_method: :delete,
                                          turbo_confirm: "Wirklich entfernen?" },
                                  class: "chip-remove" %>
                    </span>
                <% end %>
              </div>
            </td>
            <td>
              <span class="badge badge-info"><%= restrictions.count %></span>
            </td>
            <td>
              &nbsp;
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

