<% content_for :title, "Editing trailer" %>

<h1>Editing trailer</h1>

<%= render "form", trailer: @trailer %>

<br>

<div>
  <%= link_to "Show this trailer", @trailer %> |
  <%= link_to "Back to trailers", trailers_path %>
</div>
