<div class="resource-form-page">
  <div class="page-header">
    <h2>Neues Fahrzeug</h2>
    <%= link_to "Zurück zur Übersicht", trailers_path, class: "btn btn-secondary" %>
  </div>

  <%= render "form", trailer: @trailer %>
</div>
