<div class="resource-form-page">
  <div class="page-header">
    <h2>Neuer Fahrer</h2>
    <%= link_to "Zurück zur Übersicht", drivers_path, class: "btn btn-secondary" %>
  </div>

  <%= render "form", driver: @driver %>
</div>