<div class="resource-new">
  <div class="header">
    <h1>Neuer Fahrer</h1>
    <%= link_to "Zurück zur Übersicht", drivers_path, class: "btn btn-secondary" %>
  </div>

  <%= render "form", driver: @driver %>
</div>