<div class="resource-form-page">
  <div class="page-header">
    <h1><%= @vehicle.license_plate %> bearbeiten</h1>
    <%= link_to "Zurück", vehicle_path(@vehicle), class: "btn btn-secondary" %>
  </div>

  <%= render "form", vehicle: @vehicle %>
</div>