<div class="content-section-full">
  <div class="section-header">
    <h3 class="section-title">
      📋
      Fahrzeuge
    </h3>
    <%= link_to "Neues Fahrzeug", new_vehicle_path, class: "btn btn-primary" %>
  </div>

  <div class="section-body section-body-table">
    <div class="data-table-container full">
      <table class="data-table">
        <thead>
        <tr>
          <th>Kennzeichen</th>
          <th>Fahrzeugnummer</th>
          <th>Typ</th>
          <th>Aktionen</th>
        </tr>
        </thead>
        <tbody>
        <%= render @vehicles %>
        </tbody>
      </table>
    </div>
  </div>
</div>