@import "base/variables";
@import "base/reset";
@import "base/typography";

@import "layout/main";

@import "components/buttons";
@import "components/cards";
@import "components/tables";
@import "components/badges";
@import "components/forms";
@import "components/touren";
@import "components/modals";
@import "components/lea_fleat";

@import "utilities/animations";
@import "utilities/helpers";

@import "utilities/flash";
.border {
  border: 1px solid red;
}
